.textArea {

	&::selection {
		color: transparent;
		background-color: #6933d0;
	}
}

:global(code) {
	background-color: red;
	// text-decoration: none !important;
	// text-decoration-color: transparent !important;
}

// :global(b) {
// 	border: 1px solid red !important;
// 	&::before {
// 		content: attr(data-foo);
// 	}
// }